<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Picker</title>
</head>
<body style="text-align: center;">
    <h1>Random Picker</h1>

    {% if no_unread_books %}
    <p>You've read all of your books!</p>
    {% else %}
    <p>Title: {{ title }}</p>
    <p>Author: {{ author }}</p>
    <p>Tags: {{ tags }}</p>

    <form method="POST">
        <div>
            <button type="submit">ANOTHER ONE</button>
        </div>
        <br>
        <div>
            <label>A category in mind ?</label>
            <select id="category" name="category">
                <option value="Any category">Any Category</option>
                {% for category in categories %}
                    {% if category == desired_category %}
                        <option value="{{ category }}" selected>{{ category }}</option>
                    {% else %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
    {% endif %}
</body>
</html>
